@layer cinder.components {
  /* ========================================
 * STACK
 * ======================================== */

  .cinder-stack {
    display: flex;
    flex-direction: var(--stack-direction, column);
    gap: var(--stack-gap, var(--cinder-space-4));
  }
}
