@layer cinder.tokens, cinder.foundation, cinder.components, cinder.utilities;
@import '../bento-cell/bento-cell.css';
@import '../grid/grid.css';

@layer cinder.components {
  .cinder-bento-grid {
    --cinder-grid-columns: repeat(4, minmax(0, 1fr));
  }

  .cinder-bento-grid[data-cinder-collapse][data-cinder-narrow] > .cinder-bento-cell {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
  }
}
